body {font-family: sans-serif;}
pre,
#result {
    background-color: rgb(54, 54, 54);
  display:block;
  overflow: auto;
  padding: 8px 4px 8px 20px;
  border-radius: 3px;
  color: #FFF;
    white-space: pre;
}
a {
  display:block;
}
#infos {
  margin-bottom: 20px;
  font-family: serif;
}
#result {
  padding: 10px;
  margin: 10px 0;
  display:block;
}